.centered-align {
        text-align: center;
        margin: auto;
        /* font-size: 24px; */
}

.account-card {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #613b12;
}

.span-hover:hover{
    opacity: 0.6;
}